<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickTileSettings"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickTileSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuickActionDialogActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:taskAffinity=""
            android:theme="@style/Theme.QuickTileSettings.QuickActionsPopup">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShortcutActionActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.QuickTileSettings.Transparent">
            <intent-filter>
                <action android:name="com.rbn.qtsettings.action.DNS_OFF" />
                <action android:name="com.rbn.qtsettings.action.DNS_AUTO" />
                <action android:name="com.rbn.qtsettings.action.DNS_CUSTOM" />
                <action android:name="com.rbn.qtsettings.action.DNS_ADGUARD" />
                <action android:name="com.rbn.qtsettings.action.DNS_CLOUDFLARE" />
                <action android:name="com.rbn.qtsettings.action.DNS_QUAD9" />
                <action android:name="com.rbn.qtsettings.action.USB_ON" />
                <action android:name="com.rbn.qtsettings.action.USB_OFF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PrivateDnsTileService"
            android:exported="true"
            android:icon="@drawable/ic_dns_auto"
            android:label="@string/tile_label_private_dns"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.UsbDebuggingTileService"
            android:exported="true"
            android:icon="@drawable/ic_usb_off"
            android:label="@string/tile_label_usb_debugging"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.WirelessDebuggingTileService"
            android:exported="true"
            android:icon="@drawable/ic_wireless_debugging"
            android:label="@string/tile_label_wireless_debugging"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.MonochromeTileService"
            android:exported="true"
            android:icon="@drawable/ic_monochrome"
            android:label="@string/tile_label_monochrome"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.VpnMonitoringService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN monitoring for Private DNS management" />
        </service>

        <service
            android:name=".services.NetworkMonitoringService"
            android:exported="false"
            android:foregroundServiceType="specialUse|location">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Network type and connected Wi-Fi monitoring for Private DNS management" />
        </service>

    </application>

</manifest>
